/* body{
  background-color: bisque;
} */

html, body {
  height: 100%;
}

#footer {
  flex-shrink: 0;
  text-align: center;
  color:red;
  background-color: white;
  width: 100%;
}
#petsDiv{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  border:solid black 2px;
  border-radius: 10px;
  margin: 25px;
  width:300px;
  height:450px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
}

.title{
  text-align: center;
  font-weight: bold;
  /* padding: 10px; */
  }

/* .top{
  background-color: blue  
} */


img{
  width: 200px;
  border:solid;
  border-radius:25px;
  padding:10px;
}

.pic{
  display: flex;
  justify-content: center;
}

.color{
  text-align: center;
}

.pet-info{
  text-align:center;
}

.btns{
  width:90px;
  height: 90px;
  border-radius: 44px;
  margin:15px;
  background-color: lightgrey;
  border: solid black;
}

#btns{
  text-align: center;
}

#heading{
  text-align: center;
}

.type{
  text-align: center;
}